body {
    background-image: url(resources/bidpage-background.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Raleway', sans-serif;
}

img {
    max-height: 100%;
    max-width: 100%;
    height: 36px;
    width: 36px;
}

form {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
}

.w-100 {
    width: 100%;
    text-align: center;
}

.outer-layer {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.outer-box {
    background-color: rgba(0,0,0,0.65);
    height: 100%;
    opacity: 50%;
    -webkit-box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.75);
}

.form-container {
    background-color: white;
/*    position: relative;*/
    border-radius: 2px;
    padding: 8px;
}

.inner-container {
    margin-top: 20%;
    width: 100%;
}

.dest-container {
    color: white;
    padding: 8px;
}

#dotted-line {
    border: none;
    border-right: dotted 4px white;
    max-height: 100%;
    width: 52.5%;
    height: 25px;
}

.dest-box {
    background-color: transparent;
    text-align: center;
    color: white;
}