body {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
    url(resources/bidpage-background.jpg);
    background-size: cover;
    /* background-position: center; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}